proxy_set_header Authorization $http_authorization;
proxy_set_header Content-Type $content_type;
proxy_set_header Content-Length $content_length;
proxy_set_header Content-Encoding $http_content_encoding;
proxy_set_header Transfer-Encoding $http_transfer_encoding;

proxy_set_header Content-MD5 $http_content_md5;
proxy_set_header Date $http_date;
proxy_set_header X-Amz-Date $http_x_amz_date;
proxy_set_header X-Amz-Content-Sha256 $http_x_amz_content_sha256;
proxy_set_header X-Amz-Security-Token $http_x_amz_security_token;
proxy_set_header X-Amz-Trailer $http_x_amz_trailer;
proxy_set_header X-Amz-Decoded-Content-Length $http_x_amz_decoded_content_length;
proxy_set_header X-Amz-Sdk-Checksum-Algorithm $http_x_amz_sdk_checksum_algorithm;
proxy_set_header X-Amz-Checksum-Mode $http_x_amz_checksum_mode;
# you need to specify port, if it is not standart, or else s3v4 will not work.
proxy_set_header Host s3.domain.domain:6284;