/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Cuprum:wght@400;500;700&family=PT+Sans:wght@400;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}
